.list_navbar {
    display: flex;
    gap: 12px;
    list-style: none;
}

.navbar_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background: #fff;
    border-bottom: solid 1px #00000029;
}

.user_info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.user_name {
    font-size: 14px;
    color: #374151;
    font-weight: 500;
}

.logout_btn {
    background: #F44336;
    color: white;
    border: none;
    padding: 11px 12px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 44px;
}

.logout_btn:hover {
    background: #dc2626;
}